# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/workspace.xml
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
bin/classes.dex
*.class
bin/classes.dex
bin/classes.dex
*.class
*.class
bin/resources.ap_
*.dex
bin/classes.dex
bin/classes/example/videoplayer/util/MyVideoPlayer$4$2.class
bin/classes/example/videoplayer/util/MyVideoPlayer$4.class
bin/classes/example/videoplayer/util/MyVideoPlayer.class
bin/MyActivity.apk
bin/resources.ap_
gen/example/videoplayer/Manifest.java
