<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="liuzhy520.videoplayer"
          android:versionCode="2"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.NoTitleBar"
            >
        <activity android:name="liuzhy520.videoplayer.MyActivity"

                  android:configChanges="orientation|keyboardHidden|screenSize"
                >

        </activity>
        <activity android:name="liuzhy520.videoplayer.UseWidgetActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
